{% extends 'base.html' %}

{% block content %}
<div class="clearfix content">
  <div class="items">
    {% for mod in modules %}
    <div class="item">
      <div class="card overflow-hidden border rounded">
        <div class="card-header p2 bold white ">{{mod}}</div>
        <div class="card-body" id="content_{{mod}}">
        {% if modules[mod].chart %}
          <div id="chart_{{mod}}" style="width:100%;height:200px"></div>
        {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}

{% block endjs %}
<script>

$(function() {

var m = {{modules|safe}};
var data = [];

{% for mod in modules %}{% if modules[mod].chart %}

  var xsize_{{mod}} = {% if mod.size %} {{mod.size}} {%else%} 2000 {% endif %} ;

  data['{{mod}}'] = [{data: Array(xsize_{{mod}}).fill('') }] ;
  var chart_{{mod}} = $.plot("#chart_{{mod}}",data['{{mod}}'] , {
    series: {
      shadowSize: 0,	// Drawing is faster without shadows
      lines : {fill: true,},
    },
    yaxis: {
      autoScale: "loose",
      growOnly: false,
    },
    xaxis: {
      show: true,
      mode: "time",
      timeBase: "milliseconds",
      // autoScale: "loose",
      growOnly: false,
      timezone: "browser",
      fill: true,
    },
  });

  {% endif %}{% endfor %}

		function update_chart(val, plot, data) {
      console.log(22, data);
      data.push(val);
      if (data.length > 2000 ){
        data.shift();
      }
			plot.setData([data]);
      plot.setupGrid(true);
			plot.draw();
		}

    // notify if not received data in 30sec
    var timeoutcount = 0;
    setInterval(function() {
       timeoutcount++;
       if (timeoutcount >= 3){
         console.log("connection to BTCnode lost");
       }
     }, 10000);

     // var ws_init = new WebSocket('ws://127.0.0.1:5556',[
     //   'pub.sp.nanomsg.org'
     // ])

    var ws = new WebSocket('ws://127.0.0.1:5555',[
       'pub.sp.nanomsg.org'
    ])

    function handleMessage(msg){
        timeoutcount = 0;
        d = msg.split(' ');
        let timeStamp = d[0] +'000';
        let content = msg.split(d[1])[1];
        let mod = d[1];
        let c = JSON.parse(content);
        if (m[mod].chart && m[mod].chartvalue ){
          let value = c[m[mod].chartvalue];
          update_chart([timeStamp, value], mod, data[mod]);
        }
        else{
          document.getElementById("content_"+ mod).innerHTML = content;
        }
    }

    $.get('/data.json', function(data, status){
      // init data
      let i;
      for (i=0; i < data['msg'].length; i++){
        // todo: pocess as arrays
        handleMessage(data['msg'][i]);
      }

      // listen for new mesages
      ws.onmessage = function( e ){
        var reader = new FileReader() // handle binary messages
        reader.addEventListener('loadend', function(){
          var result = reader.result;
          handleMessage(result, );
        });
        reader.readAsText( e.data );
      }
    });

	});
</script>
{% endblock %}
